:root{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    --grey: hsl(233, 5%, 50%);
    --dark:  hsl(220, 50%, 18%);
    --light: hsl(220, 60%, 84%);
    --purple: hsl(297, 70%, 25%);
    --shadowSize: 6px 4px;

}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: var(--dark);
    transition: all 0.5s linear;
    
}

@media only screen and (max-width: 1300px)  {
    /*Small Screens (I.E My Laptop)
      To make the Main text take up less screen space, scale all attributes appropriately*/
    p{
        font-size: 3rem;
        --shadowSize: 4px 3px;
        animation: animate 5s ease infinite;
    }
}
@media only screen and (min-width: 1301px) {
    /*Large Screens (I.E My PC Monitor)*/
    p{
        font-size: 5rem;
        animation: animate 5s linear infinite;
    }
}

@keyframes animate {
    /*Swap our texts colour with it's shadow for a pulsing effect*/
    0% { 
        color: var(--light);
        text-shadow: var(--shadowSize) var(--purple);
      }
    50% { 
        color: var(--purple);
        text-shadow: var(--shadowSize) var(--light); 
     }
    100% { 
        color: var(--light);
        text-shadow: var(--shadowSize) var(--purple);
     }
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
main{
    flex: 0 1 auto;
}
footer{
    display: flex;
    justify-content: center;
    height: 35px;
}

input{
    display: block;
    border: 2px solid black;
    height: 50px;
    width: 10rem;
}
button{
    color: var(--purple);
    cursor: pointer;
    font-size: 0.8rem;
    height: 50px;
    width: 135px;
    background-color: var(--light);
    border: none;
    border-radius: 6px;
}
button:hover{
    color: var(--light);
    background-color: var(--purple);
    font-size: 0.85rem;
}


