:root{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    --grey: hsl(233, 5%, 50%);
    --dark:  hsl(220, 50%, 18%);
    --light: hsl(220, 60%, 84%);
    --purple: hsl(297, 70%, 25%);
    --titleShadowSize: 6px 4px;

}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: var(--dark);
    transition: all 1s linear;
    
}
/* --- Media Queries and KeyFrames --- */
@media only screen and (max-width: 1300px)  {
    /*Small Screens (I.E My Laptop)
      To make the Main text take up less screen space, scale all attributes appropriately*/
    .title{
        font-size: 3rem;
        --titleShadowSize: 4px 3px;
        animation: animate 5s ease infinite;
    }
}
@media only screen and (min-width: 1301px) {
    /*Large Screens (I.E My PC Monitor)*/
    .title{
        font-size: 5rem;
        animation: animate 5s linear infinite;
    }
}

@keyframes animate {
    /*Swap our texts colour with it's shadow for a pulsing effect*/
    0% { 
        color: var(--light);
        text-shadow: var(--titleShadowSize) var(--purple);
      }
    50% { 
        color: var(--purple);
        text-shadow: var(--titleShadowSize) var(--light); 
     }
    100% { 
        color: var(--light);
        text-shadow: var(--titleShadowSize) var(--purple);
     }
}
/* --- General Page Structure ---*/
body{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
main{
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 0 1 auto;
    max-height: 66%;
}
footer{
    display: flex;
    justify-content: center;
    height: 35px;
}

/* --- Global Element Styles ---*/
p{
    user-select: none;
    font-weight: bold;
}
input[type=text]{
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    font-size: 1rem;
    border-radius: 6px;
    text-align: center;
    box-shadow: 2px 2px 2px var(--dark);
}
input[type=text]:focus{
    
}
button{
    transition: all 500ms ease-in;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    height: 50px;
    width: 135px;
    background: linear-gradient(90deg, var(--dark) 35%, var(--light) 100%);
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 2px var(--dark);
}
button:hover{
    background: var(--grey);
    border: 1px solid var(--dark);
    padding: 0px;
}

/* --- Header Properties --- */
.inputs, .player, .computer{
    display: flex;
    justify-content: center;
}
.inputs{
    width: 100vw;
    height: 50px;
}
.inputs > div, .inputs > div > input{
    margin-left: 7.5px;
}

/*Display Text Fields*/
.player:focus-within > .playerForm > input, .computer:focus-within > .computerForm > input{
    opacity: 1;
    border: 1px solid black;
    height: 49px;
    width: 10rem;
}
form{
    display: none;
}

/*Control display of Form Elements when Selecting Game Modes*/
.inputs:focus-within > div > button {
    display: none;
}
.inputs:focus-within > div:focus-within > form {
    display: flex;
}
.inputs:focus-within > div:focus-within > form * {
    margin-right: 5px;
}

/* --- Game Board Properties --- */
.gameBoard{
    display: grid;
    height: 75%;
    aspect-ratio: 1/1;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
}

/*Create Borders that don't overlap*/
.gameBoard > div{
    display: flex;
    font-size: 3rem;
    color: var(--dark);
    /* text-shadow: 2px 2px var(--light); */
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.gameBoard > :nth-child(3n){
    border-right: 2px solid white;
}
.gameBoard > :nth-last-child(-n+3) {
    border-bottom: 2px solid white;
}

/* --- Player Properties --- */

.playersContainer{
    display: none;
    justify-content: space-between;
    height: 50px;
    width: min(500, 25vw);
}
.playersContainer > :first-child{
    margin-right: 10px;
}
.playersContainer > div{
    display: flex;
    height: 100%;
    width: max-content;
}
.playersContainer p{
    color: var(--light);
    text-shadow: 2px 2px var(--purple);
    font-size: 1rem;
    flex-grow: 1;
}
.playersContainer > div > :last-child{
    color: var(--dark);
    text-shadow: 2px 2px var(--purple);
    width: 30px;
    text-align: right;
}

