:root{
    --font: 'Roboto', 'Courier New', monospace, sans-serif;
    --baseFontSize: 18px;
    --title-font-color: red;
    --menu-font-color: black;
    --gameboard-font-color: black;
    --gameboard-base-color: white;
    --gameboard-hover-color: grey;
    --gameboard-selected-color: black;
    --gameboard-border-color: black;
    --footer-font-color: red;
    --footer-background-color: blue;
    --alert-winner-font-color: green;
    --alert-loser-font-color: red;
    --button-border-color: black;
    --button-color: blue;
    --button-hover-color: darkblue;
    --button-click-color: gold;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--baseFontSize);
    border: 1px solid black;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: min(15vh, 200px) 1fr min(5vh, 100px) / 200px 1fr 200px;
}

/* ---- TOP ROW ---- */
/* - Title Area - */
.navCenter{
    display: grid;
    grid-template-rows: 33% 1fr;
}
.title, .selection{
    display: flex;
    justify-content: center;
}

/* - Menu Left - */
.sub-half{
    display: flex;
    align-content: center;
    max-width: 50%;
    flex: 1 1 auto;
}

#h-1:hover > :nth-child(2){
    flex-grow: 8;
}
#h-1:hover > :nth-child(2) > input {
    width: 100%;
    opacity: 1;
}
#h-1:hover > :nth-child(3){
    flex-grow: 0.5;
}
.sub-half > *{
    height: 100%;
}

.player{
    flex-grow: 1;
    white-space: nowrap;
    transition: all 2s ease;
    text-align: end;
    padding-right: 5%;
}
.input, .check{
    width: min-content;
    transition: all 2s;
}
.input{
    display: flex;
    align-items: center;
    max-width: min(30vw, 500px);
    justify-content: end;
}
.input *{
    width: 0%;
    height: 50px;
    opacity: 0;
    background-color: red;
    transition: all 2s ease;
    border-radius: 24px
}

.check{}


/* - Menu Right - */
.sub-quart{
    display: flex;
    justify-content: start;
    transition: all 2s ease;
}
.sub-quart > :first-child{
    max-width: 200px;
    width: 150px;   
    text-align: start;
}
.sub-quart > :not(:first-child){
    width: 0px;
}
.sub-quart > .input{
    justify-content: start;
}
#q-1:hover {
    flex-grow: 1;
}

#q-1:hover > :nth-child(1){
    flex-grow: 1;
}
#q-1:hover > :nth-child(2){
    flex-grow: 10;
}
#q-1:hover > .check{
    flex-grow: 0.5;
    max-width: 75px;
}
#q-1:hover > :nth-child(2) > input{
    opacity: 1;
    width: 100%;
}

#q-2:hover {
    flex-grow:0.8;
}
#q-2:hover > :not(:first-child) {
    flex-grow: 1;
}
.diff{
    background: red;
}






















.mainLeft{

}
.tracker, .reset{
    /*Center position container elements for sidebar content.*/
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
}
.tracker *, .reset *{
    height: 50%;
    width: 100%;
}
.mainCenter {
    /*Ensure Game Board doesn't shrink too much*/
    min-width: 400px;
    min-height: 400px;
}