:root{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    --fontColor: hsl(233, 5%, 50%);
    --fontShadow: 8px 7px hsl(214, 25%, 10%);

}
p{
    font-size: 5rem;
    color: var(--fontColor);
    text-shadow: var(--fontShadow);
}