:root{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    --grey: hsl(233, 5%, 50%);
    --dark:  hsl(220, 50%, 18%);
    --light: hsl(220, 60%, 84%);
    --purple: hsl(297, 70%, 25%);
    --shadowSize: 6px 4px;

}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: var(--dark);
    transition: all 0.5s linear;
    
}

@media only screen and (max-width: 1300px)  {
    /*Small Screens (I.E My Laptop)
      To make the Main text take up less screen space, scale all attributes appropriately*/
    p{
        font-size: 3rem;
        --shadowSize: 4px 3px;
        animation: animate 5s ease infinite;
    }
}
@media only screen and (min-width: 1301px) {
    /*Large Screens (I.E My PC Monitor)*/
    p{
        font-size: 5rem;
        animation: animate 5s linear infinite;
    }
}

@keyframes animate {
    /*Swap our texts colour with it's shadow for a pulsing effect*/
    0% { 
        color: var(--light);
        text-shadow: var(--shadowSize) var(--purple);
      }
    50% { 
        color: var(--purple);
        text-shadow: var(--shadowSize) var(--light); 
     }
    100% { 
        color: var(--light);
        text-shadow: var(--shadowSize) var(--purple);
     }
}
body{
    /*background-color: hsl(0, 1%, 70%);*/
}
p{

}

button{
    color: var(--black);
    cursor: pointer;
    font-size: 0.8rem;
    height: 45px;
    width: 100px;
    background-color: var(--grey);
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
}

button:hover{
    color: var(--light);
    background-color: var(--purple);
}


/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}